.contentImage {
  width: 50%;
  opacity: 50%;
  height: 100%;
  transition: 0.5s;
}

.contentBoxWrapper:hover .contentImage {
  opacity: 90%;
  transition: 0.5s;
}

.contentBoxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contentTextWrapper {
  width: 40%;
  margin: 0 40px;
}

.contentText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}
