.signupWrapper {
  margin: 0 auto;
  background-color: rgb(173, 173, 173);
  width: 40%;
  padding: 4%;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Roboto';
  border-radius: 15px;
}

.signupText {
  margin-bottom: 25px;
}

.landingWrapper {
  margin: 0 auto;
  width: 80%;
}
